<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c2b75b7e-8e0e-43ef-b143-032757d29c42" wadlVersion="http://wadl.dev.java.net/2009/02" name="CreateSecondaryUser" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c2b75b7e-8e0e-43ef-b143-032757d29c42fileName">CreateSecondaryUser</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>